.hidden{
  display: none;
}

.user{
  width: 60%;
  height:400px;
  display: inline-block;
  background-color: blue;
  margin: 0 auto;
}
.game{
  width:60%;
  height:400px;
  display: inline-block;
  background-color: green;
  margin: 0 auto;
}
.end{
  width: 60%;
  height:400px;
  display: inline-block;
  background-color: black;
  margin: 0 auto;
  color: white;
}
.end h2{
  color: red;
}
.end a {
  text-decoration: none;
  color: white
}
.coords{
  display: inline-block;

}
.character{
  display: inline-block;

}
.user-form{
  display: inline-block;
  margin-left: 15%;
}
#position{
  display: inline-block;
}
.newPlayer{
  display: inline-block;
  float: right;
}
#buttons{
  display: inline-block;
  float: left;
}
.grid {
  background-color: grey;
  height: 250px;
  width: 250px;
}
.row {
  display: block;
  width:98%;
  height: 9%;
  margin: 1%;
  background-color: black;
}
.col {
  display: inline-block;
  width:8%;
  height: 80%;
  background-color: white;
  margin: 1%;
}
.player{
  display: inline-block;
  width: 8%;
  height: 80%;
  border-radius: 100%;
  margin: 1%;
  background-color: blue;
}
.powerup{
  display: inline-block;
  width: 8%;
  height: 80%;
  border-radius: 15%;
  margin: 1%;
  background-color: green;
}
.boost{
  display: inline-block;
  width: 9%;
  height: 85%;
  border-radius: 50%;
  margin: 1%;
  background-color: red;
}
