.hidden {
  display: none; }

body {
  background-color: grey; }

.instructions {
  text-align: center; }

.playerCreator {
  width: 20%;
  margin: 0 auto;
  display: block; }

.user {
  width: 80%;
  height: 600px;
  display: block;
  background-color: #00bcd4;
  margin: 0 auto; }

.game {
  width: 80%;
  height: 600px;
  display: block;
  background-color: green;
  margin: 0 auto; }

.end {
  width: 80%;
  height: 600px;
  display: block;
  background-color: black;
  margin: 0 auto;
  color: white; }

.end h2 {
  color: red; }

.end a {
  text-decoration: none;
  color: white; }

.coords {
  display: inline-block; }

.character {
  display: inline-block; }

.user-form {
  display: inline-block;
  margin-left: 15%; }

#position {
  display: inline-block; }

#buttons {
  display: inline-block;
  margin-left: 39%;
  margin-top: 3%; }

.grid {
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto; }

.row {
  display: block;
  width: 100%;
  height: 10%;
  background-color: grey; }

.col {
  display: inline-block;
  width: 8%;
  height: 80%;
  background-color: white;
  margin: 1%; }

.player {
  display: inline-block;
  width: 8%;
  height: 80%;
  border-radius: 100%;
  margin: 1%;
  background-color: blue; }

.baddie {
  display: inline-block;
  width: 8%;
  height: 80%;
  border-radius: 75%;
  margin: 1%;
  background-color: red; }

.powerup {
  display: inline-block;
  width: 8%;
  height: 80%;
  border-radius: 15%;
  margin: 1%;
  background-color: green; }

.boost {
  display: inline-block;
  width: 9%;
  height: 85%;
  border-radius: 50%;
  margin: 1%;
  background-color: red; }

.main h1 {
  text-align: center;
  font-size: 3em; }

.main h2 {
  text-align: center;
  font-size: 2em; }

.scoreList {
  display: block;
  width: 40%;
  float: right;
  border: 2px solid white; }

.scoreList h1 {
  text-align: center; }

.top {
  margin-bottom: 1%;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid;
  border-radius: 5px; }
