div#user {
  width: 30%;
  height: 400px;
  display: inline-block;
  background-color: blue; }

div#game {
  width: 60%;
  height: 400px;
  display: inline-block;
  background-color: green;
  float: right; }

.coords {
  display: inline-block; }

div#character {
  display: inline-block;
  margin: 20%; }

.user-form {
  display: inline-block;
  margin-left: 15%; }
